<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YachtDice</title>
    <link type="text/css" rel="stylesheet" href="/css/join.css" />
  </head>
  <body>
    <div class="joinOuterContainer">
      <div class="joinInnerContainer">
        <h1 class="heading">Waiting Room</h1>
        <form action="join" method="POST" id="join-form" class="join-form">
          <input
            required
            placeholder="닉네임"
            name="name"
            class="joinInput"
            type="text"
          />
          <input
            required
            name="room"
            placeholder="방번호"
            class="joinInput mt-20"
            type="text"
          />
          <button class="button mt-20" type="submit">참여하기</button>
        </form>
      </div>
      <div class="joinRoomList-container">
        <div class="joinRoomList">
          <span>Room List</span>
          <% if(Object.keys(roomsInfo).length !== 0){ %>
          <ul class="room-list-ul">
            <% for ( var i = 0; i < Object.keys(roomsInfo).length; i++){ %> <%
            if(Object.keys(roomsInfo)[i] !== "undefined" &&
            roomsInfo[Object.keys(roomsInfo)[i]] !==0) {%>
            <li class="room-list">
              <% if(roomsInfo[Object.keys(roomsInfo)[i]]!== 2){ %>
              <img class="online icon" src="../img/onlineIcon.png" />
              <% }else{ %>
              <img class="offline icon" src="../img/offlineIcon.png" />
              <% } %> "<%= Object.keys(roomsInfo)[i] %>" Room
              &emsp;&emsp;&emsp;&emsp; <%= roomsInfo[Object.keys(roomsInfo)[i]]
              %>/2명
            </li>
            <% } %> <% } %>
          </ul>
          <% }else{ %>
          <p>Empty</p>
          <% } %>
        </div>
      </div>
    </div>
    <script src="/js/join.js"></script>
  </body>
</html>
