/* html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Dotum, 돋움, Helvetica, sans-serif;
  background-image: url("../img/game_back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header {
  display: flex;
  justify-content: center;
  width: 460px;
  margin: 0 auto;
  background-color: transparent;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 60px;
  color: white;
  font-weight: bold;
  opacity: 1;
  margin-top: 50px;
  margin-bottom: 500px;
}
.form-wrap {
  background-color: transparent;
}
.user-info-form {
  display: flex;
  flex-direction: column;
  border: 0;
  border-bottom: 2px solid gray;
  opacity: 1;
  margin-bottom: 80px;
  font-family: "굴림";
  font-weight: bold;
}
.user-info-form .id {
  width: 460px;
  height: 48px;
  margin-bottom: 10px;
}
.user-info-form .pwd {
  width: 460px;
  height: 48px;
  margin-bottom: 10px;
}
.user-info-form .login-Btn {
  cursor: pointer;
  width: 468px;
  height: 54px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2979ff;
  border: none;
  margin-bottom: 30px;
}
.abs-Btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 20;
  color: #2979ff;
  margin-bottom: 20px;
}
.abs-Btn .sign-up {
  cursor: pointer;
  margin: 0;
  height: 30px;
  border: 2px solid rgb(97, 95, 95);
  background-color: white;
}
.abs-Btn .find-info {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: 2px solid rgb(97, 95, 95);
  background-color: white;
}
.check-box-form {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
  border: none;
}
.id-check-box-form {
  color: white;
}
.pwd-check-box-form {
  color: white;
}
.check-box-form .save-ID {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
.check-box-form .hide-PWD {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
.bar {
  opacity: 0.5;
}
.sign-up {
  background-color: #2979ff !important;
  color: white;
} */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Dotum, 돋움, Helvetica, sans-serif;
  background-image: url("../img/game_back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
  width: 460px;
  margin: 0 auto;
  background-color: transparent;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 60px;

  font-weight: bold;
  opacity: 1;
  margin-top: 50px;
  margin-bottom: 500px;
}
.service-name {
  color: white;
}
.form-wrap {
  background-color: transparent;
}
.user-info-form {
  display: flex;
  flex-direction: column;
  border: 0;
  border-bottom: 2px solid gray;
  opacity: 1;
  margin-bottom: 80px;
  font-family: "굴림";
  font-weight: bold;
}
.user-info-form .id {
  width: 460px;
  height: 48px;
  margin-bottom: 10px;
}
.user-info-form .pwd {
  width: 460px;
  height: 48px;
  margin-bottom: 10px;
}
.user-info-form .login-Btn {
  cursor: pointer;
  width: 468px;
  height: 54px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2979ff;
  border: none;
  margin-bottom: 30px;
}
.abs-Btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 20;
  color: #2979ff;
  margin-bottom: 20px;
}
.abs-Btn .sign-up {
  cursor: pointer;
  margin: 0;
  height: 30px;
  border: 2px solid rgb(97, 95, 95);
  color: white;
  background-color: #2979ff;
}
.abs-Btn .find-info {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: 2px solid rgb(97, 95, 95);
  background-color: white;
}
.check-box-form {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
  border: none;
}
.id-check-box-form {
  color: white !important;
}
.pwd-check-box-form {
  color: white !important;
}
.check-box-form .save-ID {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
.check-box-form .hide-PWD {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
.bar {
  opacity: 0.5;
}

.search-info-form {
  display: flex;
  flex-direction: column;
  border: 0;
  border-bottom: 2px solid gray;
  opacity: 1;
  margin-bottom: 0px;
  font-family: "굴림";
  font-weight: bold;
}

.search-info-form .msgForm {
  width: 460px;
  height: 48px;
  margin-bottom: 10px;
}

.search-Btn {
  cursor: pointer;
  width: 468px;
  height: 54px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2979ff;
  border: none;
  margin-bottom: 30px;
}

.pvp-log-container {
  color: white;
  padding-left: 20px;
}

.navio {
  position: absolute;
  right: 20%;
}
.iframe_tag {
  border-radius: 18px;
}
